div {
    display: flex;
    flex: 0 0 6.25%; /* fixed size of each flex item taking 1/16th of the row size */
    flex-wrap: wrap; /* wrap flex items to new line */
    border: 1px solid black;
    height: 50px;
    box-sizing: border-box; /* makes boarder not affect the size of the divs */
}

#container{
    border: 0; /* since the height of the container division is the same
    as the rest of the divs, it makes the first row looks thicker in borders */
}